@keyframes grain {
  0%,
  100% {
    background-position: 0 0;
  }
  25% {
    background-position: 10px 10px;
  }
  50% {
    background-position: -10px -10px;
  }
  75% {
    background-position: 5px -5px;
  }
}

.grainy_effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background: url("https://media.gettyimages.com/id/1414407360/video/tv-vhs-noise-and-damage-stock-video.jpg?s=640x640&k=20&c=QCt6buudBqlN0OcVirohcZ1e3mzqOL1WaEv9byJS8-I=");
  opacity: 0.4;
  /* animation: grain 1s steps(4) infinite; */
  mix-blend-mode: soft-light;
  z-index: 10;
}
